html{
    display: grid;
    height: 100dvh;
    width: 100dvw;
    grid-template-rows: 100%;
    margin: 0;
    /* background-color: #243C60; */
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #214876 45%, #244E7A 51%, #214876 57%, #020024 100%, #11234C 100%, #11234C 100%, #11234C 100%);
    
}
.responsive{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
body{
    display: grid;
    justify-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
main{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
}
h2{
    color: #ffffff;
    margin: 0;
}
.main-title{
    color: #000000;
}

h1, footer{
    color: #ffffff;
}
.header{
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.container{
    display: grid;
    justify-items: center;
    background-color: #b7d8eb73;
    border-radius: 16px;
    padding: 20px;
    img{
        margin: 5px;
        margin-top: 8px;
    }
}

.container-errors{
    display: grid;
    justify-items: center;
    background-color: #cc2937b6;
    border-radius: 16px;
    padding: 10px;
    
}

.container-main{
    display: flex
}
.container-flex{
    display: flex;
}
.children-container-flex{
    display: grid;
    width: 175px;
    gap: 10px;
}
#cedula{
    display: grid;
    width: 100%;
}
#passwords{
    display: grid;
    width: 100%;
    gap: 5px;
}
.div-input-data{
    display: flex;;
}

.card{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr;
    background-color: aliceblue;
    border-radius: 16px;
    text-align: center;
    padding: 30px;
    max-width: 200px;
    min-width: 150px;
    min-height: 100px;
    max-height: 300px;
    margin: 20px;
}
form{
    display: grid;
    align-content: center;
    justify-content: space-around;
    gap: 10px;
    
    label{
        color: aliceblue;
    }
}
.form-recovery{
    display: grid;
    align-content: center;
    justify-content: space-around;
    gap: 25px;
}
.icon{
    border: 10px;
    margin: 5px;
}
.div-input-email, .div-input-password, .div-input-password-confirm{
    display: flex;
    align-items: center;
    background-color:  #ffffff;
    border-radius: 5px;
    height: 50px;
    width: 250px;
}
.div-input-password{
    width: 100%;
}
.div-recovery-password{
    display: grid;
    align-items: center;
    justify-items: center;
}
.input-login{
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
}
.input-signup{
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #ffffff;
    max-width: 100%;
}
.input-recovery{
    height: 40px;
    width: 250px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color:  #ffffff;
}
.button-styles{
    display: grid;
    align-items: center;
    background-color: #ffffff;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 80%;
    color: #050b4b;
    cursor: pointer;
}

.button-text{
    color: #050b4b;
    text-decoration: none;
    text-align: center;
}
.button-text:hover{
    color: aliceblue;
}

.button-styles:hover{
    background-color: #050b4b;
    color: aliceblue;
    transition: background-color 0.3s;
}

#link-recovery{
    justify-self: center;
}

#button-student, #button-teacher{
    background-color: #050b4b;
    color: #ffffff;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#button-teacher:hover, #button-student:hover{
    background-color: aliceblue;
    color: #050b4b;
    transition: background-color 0.3s;
}
.center-button{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.center-button2{
    display: grid;
    justify-items: center;
}
#link-recovery, #link-signup{
    display: grid;
    margin-top: 10px;
    color: #ffffff;
    transition: color 0.3s;
}
#link-recovery:hover, #link-signup:hover{
    color: #050b4b;
}


.form-recovery{
    display: grid;
    align-content: center;
    justify-content: space-around;
    gap: 25px;
}

.error-message {
    color: #F4F4ED;
    text-align: center;
    font-weight: bold;
    margin: 0;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
}