table{
    width: 90%;
    justify-self: center;
    margin: 20px;
    border-spacing: 0;
    
    border-radius: 16px; 
    overflow: hidden;
}

th, td{
    width: 25%;
    text-align: center;
    vertical-align: center;
    
    padding: 8px;
}

.options{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-self: center;
}

.options>button{
    padding: 8px;
    border-radius: 30px;
    margin: 6px;
    border-color: transparent;
    cursor: pointer;
}


 /* COLORES DEL FONDO DE LA TABLA */
thead{
    background-color: #243C60;
    color: #fff;
}
tbody{
    background-color: #fff;
}
/* COLOR DE LOS BOTONES Y SU HOVER */
.add-button{
    background-color: #243C60;
}
.edit-button{
    background-color: #038C4C;
}
.add-button:hover{
    cursor: pointer;
    background-color: #1b2f4e;
}
.edit-button:hover{
    cursor: pointer;
    background-color:#076a3c;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}